<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rider.customer.mapper.CustomerMapper">
	<select id="customerList" resultType="com.smart.rider.customer.dto.CustomerDTO">
		SELECT 	 rental_customer_code 		AS rentalCustomerCode
				,contract_shop_code 		AS contractShopCode
				,goods_rental_code 			AS goodsRentalCode
				,rental_customer_name 		AS rentalCustomerName
				,rental_customer_address 	AS rentalCustomerAddress
				,rental_customer_phone 		AS rentalCustomerPhone
				,rental_customer_start 		AS rentalCustomerStart
				,rental_customer_finish 	AS rentalCustomerFinish
				,rental_customer_overdue 	AS rentalCustomerOverdue
				,rental_customer_date 		AS rentalCustomerDate
				,rental_customer_return 	AS rentalCustomerReturn
		FROM 
			rental_customer
		ORDER BY rental_customer_code DESC 
		LIMIT #{startRow},#{rowPerPage}
	</select>
	<select id="getCustomerList" parameterType="String" resultType="com.smart.rider.customer.dto.CustomerDTO">
		SELECT 	 rental_customer_code 		AS rentalCustomerCode
				,contract_shop_code 		AS contractShopCode
				,goods_rental_code 			AS goodsRentalCode
				,rental_customer_name 		AS rentalCustomerName
				,rental_customer_address 	AS rentalCustomerAddress
				,rental_customer_phone 		AS rentalCustomerPhone
				,rental_customer_start 		AS rentalCustomerStart
				,rental_customer_finish 	AS rentalCustomerFinish
				,rental_customer_overdue 	AS rentalCustomerOverdue
				,rental_customer_date 		AS rentalCustomerDate
				,rental_customer_return 	AS rentalCustomerReturn
		FROM 
			rental_customer
		WHERE
			rental_customer_code = #{rentalCustomerCode}
	</select>
	<!-- 19.10.02페이지작업위한작성  -->
	<select id="getCustomerAllCount" resultType="int">
		SELECT
			COUNT(*)
		FROM rental_customer
	</select>
	<!-- 코드 자동증가 -->
	<select id="customerCodeCount" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(rental_customer_code, 4)+1, '4' , '0')) 
		FROM rental_customer;
	</select>
	<insert id="customerInsert" parameterType="com.smart.rider.customer.dto.CustomerDTO">
		INSERT INTO rental_customer(
			 rental_customer_code
			,contract_shop_code
			,goods_rental_code
			,rental_customer_name
			,rental_customer_address
			,rental_customer_phone
			,rental_customer_start
			,rental_customer_finish
			,rental_customer_overdue
			,rental_customer_date
			,rental_customer_return
		)VALUES (
			 #{rentalCustomerCode}
			,#{contractShopCode}
			,#{goodsRentalCode}
			,#{rentalCustomerName}
			,#{rentalCustomerAddress}
			,#{rentalCustomerPhone}
			,#{rentalCustomerStart}
			,#{rentalCustomerFinish}
			,'무'
			,NOW()
			,0)
	</insert>
</mapper>