<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<div class="container mt-5">
		<!-- row -->
		<div class="row tm-content-row">
			<div class="col-xl-6 mx-auto tm-block-col tm-col-account-settings">
				<div class="tm-bg-primary-dark tm-block tm-block-settings">
					<h2 class="tm-block-title">회원가입</h2>
					
					<form action="/memberInsert" class="tm-signup-form" method="post" onsubmit="return sendIt();">
						<label for="id" style="color:white">아이디</label>
						<div class="form-group input-group mb-3">
							<input id="memberId" name="memberId" type="text" class="form-control validate"  maxlength="12" placeholder="ID" required="required"/>
							<div class="input-group-append">
								<button class="btn btn-primary btn-block text-uppercase" id="checkButton" type="button">
									#중복확인
								</button>
							</div>
						</div>
						<div>
							<label class="alert alert-danger col-xl" th:if="${result != null}" th:text="${check}"></label>
						</div>
						<div class="form-group">
							<label for="password">비밀번호</label>
							<input id="memberPw" name="memberPw" type="password" class="form-control validate"  maxlength="12" required="required" placeholder="PASSWORD"/>
						</div>
						<div class="form-group">
							<label for="password2">비밀번호 재확인</label>
							<input id="memberPw2" name="memberPw2" type="password" class="form-control validate"  maxlength="12" required="required" placeholder="PASSWORD"/>
						</div>
						<div class="form-group">
							<label for="name">이름</label>
							<input id="memberName" name="memberName" type="text" class="form-control validate"  maxlength="5" required="required" />
						</div>
						<div class="form-group">
							<label for="birth">생년월일</label>
							<input id="memberBirth" name="memberBirth" type="text" class="form-control validate"  maxlength="6" required="required" placeholder="예)920311"/>
						</div>
						<div class="form-group">
							<label for="phone">전화번호('-' 없이 번호만 입력해주세요)</label>
							<input id="memberPhone" name="memberPhone" type="text"  maxlength="10" class="form-control validate" required="required"/>
						</div>
						<div class="form-group">
							<label for="address">주소</label>
							<input id="memberAddress" name="memberAddress" type="text" class="form-control validate" required="required"/>
						</div>
						<div class="form-group">
							<label for="email">이메일</label>
							<input id="memberEmail" name="memberEmail" type="text" maxlength="20" class="form-control validate" required="required" placeholder="abc@abc.abc"/>
						</div>
						<div>
							<input type="submit" id="submit" onclick="sendIt()" class="btn btn-primary btn-block text-uppercase" value="회원가입">
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">

<script>

$('#checkButton').click(function() {
	var memberId = $('#memberId').val();
	console.log('memberId' + memberId);
	location.href='/memberIdCheck?memberId ='+memberId+'';
});

$('#memberPw2').blur(function(){
	if($('#memberPw').val() != $('#memberPw2').val()){
		if($('#memberPw2').val()!=''){
			alert("비밀번호가 일치하지 않습니다.");
			$('#memberPw2').val('');
			$('#memberPw2').focus();
		}else if($('#memberPw2').val()==''){
			alert("비밀번호를 확인해주세요!")
			$('#memberPw').focus();
		}
 	}
});

function sendIt() {
	var getCheck= RegExp(/^[a-zA-Z0-9]{4,12}$/);
	var getName= RegExp(/^[가-힣]+$/);
	var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
	//아이디
	if(!getCheck.test($("#memberId").val())){
		alert("ID를 영문으로 4자이상 12자이하로 입력해주세요.");
		$("#memberId").val("");
		$("#memberId").focus();
		return false;
	}
	//비밀번호
	if(!getCheck.test($("#memberPw").val())) {
		alert("비밀번호를 영문으로 4자이상 12자이하로 입력해주세요.");
		$("#memberPw").val("");
		$("#memberPw").focus();
		return false;
	}
	if ($("#memberId").val()==($("#memberPw").val())) {
		alert("ID와 비밀번호가 같습니다!");
		$("#memberPw").val("");
		$("#memberPw").focus();
	}
	//이름
	if (!getName.test($("#memberName").val())) {
		alert("이름이 올바르지 않습니다.");
		$("#memberName").val("");
		$("#memberName").focus();
		return false;
	}
	//이메일
	if(!getMail.test($("#memberEmail").val())){
		alert("이메일형식에 맞게 입력해주세요.")
		$("#memberEmail").val("");
		$("#memberEmail").focus();
		return false;
	}
}
</script>
</th:block>

</html>
