<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="footerScriptFragment">
		<script src="js/jquery-3.3.1.min.js"></script>
	    <!-- https://jquery.com/download/ -->
	    <script src="js/moment.min.js"></script>
	    <!-- https://momentjs.com/ -->
	    <script src="js/Chart.min.js"></script>
	    <!-- http://www.chartjs.org/docs/latest/ -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- https://getbootstrap.com/ -->
	    <script src="js/tooplate-scripts.js"></script>
	    <!-- 박건영이 추가함 -->
	    <script src="external/jquery/jquery.js"></script>
		<script src="jquery-ui.js"></script>
	</th:block>	
	
</html>