<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="footerScriptFragment">
		<script src="resources/js/jquery-3.3.1.min.js"></script>
	    <!-- https://jquery.com/download/ -->
	    <script src="resources/js/moment.min.js"></script>
	    <!-- https://momentjs.com/ -->
	    <script src="resources/js/Chart.min.js"></script>
	    <!-- http://www.chartjs.org/docs/latest/ -->
	    <script src="resources/js/bootstrap.min.js"></script>
	    <!-- https://getbootstrap.com/ -->
	    <script src="js/tooplate-scripts.js"></script>
	    <script src="resources/js/tooplate-scripts.js"></script>
	    <!-- 19.09.16 건영추가 -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</th:block>	
	
</html>