<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 지출_공과금 레이아웃 -->
<div id="menu2" class="container tab-pane fade">
	<br>

	<!-- 공과금 지출 현황 -->
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block-util">
				<h4 class="tm-block-title">공과금 지출 현황</h4>

				<!-- charts.js -->
				<canvas id="utilityChart"></canvas>
			</div>
		</div>
	</div>

	
	<div class="row tm-content-row">

		<!-- 공과금 등록 폼 -->
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 tm-block-col">
			<div class="tm-bg-primary-dark tm-block-spend">
				<h4 class="tm-block-title">공과금 등록</h4>
				<form action="utilityInsert" method="post">
					<div class="form-group">
						<label>내역</label> 
						<select class="custom-select tm-select-accounts" name="subjectCode">
							<th:block th:each="subject : ${subjectSelectBox}">
								<option th:text="${subject.subjectName}" th:value="${subject.subjectCode}"></option>
							</th:block>
						</select>
					</div>
					<div class="form-group">
						<label>금액</label> 
						<input class="form-control validate" name="spendUtilityPay">
					</div>
					<div class="form-group">
						<label>내용</label> 
						<input class="form-control validate" name="spendUtilityContents">
					</div>
					<hr>
					<button type="submit"
							class="btn btn-primary btn-block text-uppercase"
							id="insertUtility">확인</button>
				</form>
			</div>
		</div>
		
		<!-- 최근 등록된 공과금 내역 -->
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 tm-block-col">
			<div class="tm-bg-primary-dark tm-block-spend ">
				<h4 class="tm-block-title">최근 등록내역</h4>
				<table class="table">
					<thead>
						<tr>
							<th>내역</th>
							<th>금액</th>
							<th>등록일자</th>
							<th style="width: 20%">상세보기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${utilityList}">
							<td th:text="${list.subjectName}"></td>
							<td th:text="${list.spendUtilityPay}"></td>
							<td th:text="${list.spendUtilityDate}"></td>
							<td class="text-center"><a class="tm-product-delete-link">
									<i class="fas fa-search" style="color: white"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>

<!-- charts.js script-->
<script th:inline="javascript">

	var utilityJanuary 		= [[${utilityJanuary}]];
	var utilityFebruary 	= [[${utilityFebruary}]];
	var utilityMarch 		= [[${utilityMarch}]];
	var utilityApril 		= [[${utilityApril}]];
	var utilityMay 			= [[${utilityMay}]];
	var utilityJune			= [[${utilityJune}]];
	var utilityJuly		 	= [[${utilityJuly}]];
	var utilityAugust		= [[${utilityAugust}]];
	var utilitySeptember 	= [[${utilitySeptember}]];
	var utilityOctober 		= [[${utilityOctober}]];
	var utilityNovember 	= [[${utilityNovember}]];
	var utilityDecember 	= [[${utilityDecember}]];
	
	var payMax = [[${payMax}]];

	var uctx = document.getElementById('utilityChart').getContext('2d');
	var utilityChart = new Chart(uctx, {
	    // The type of chart we want to create
	    type: 'bar',
	
	    // The data for our dataset
	    data: {
	        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월','8월','9월','10월','11월','12월'],
	        datasets: [{
	            label: '공과금 총지출 금액',
	            
	            backgroundColor: 'rgb(245, 166, 35)',
	            borderColor: 'rgb(245, 166, 35)',
	            data: [utilityJanuary,utilityFebruary,utilityMarch,utilityApril,utilityMay,utilityJune,utilityJuly,utilityAugust,utilitySeptember,utilityOctober,utilityNovember,utilityDecember]
	        }]
	    },
	
	    // Configuration options
	    options: {
	    	legend: {
	             labels: {
	                  fontColor: 'white' // label color
	                 }
	              },
		    scales: {
		    	// y축
		        yAxes: [{
		            ticks: {
		            	max:payMax + 10000,
		                fontColor:'white' // y축 폰트 color
		            }
		     	}],
		     	// x축
		     	xAxes: [{
		            ticks: {
		            	
		                fontColor:'white' // x축 폰트 color
		            }
		     	}]
		    }
	    }
	});
</script>
</html>