<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">

	<!-- MAIN -->
	<div class="main-height">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>지출/매출 > 지출 > 급여</b>
						</p>
					</div>
				</div>
				<th:block th:if="${session.SLEVEL eq '관리자'}">
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-select">
								<form action="/spendSalary" method="get" id="selectShopForm">
									<span style="float: left">
										<strong class="tm-block-title text-center">계약된 매장 </strong>
									</span> 
									<span style="float: right"> 
									<select
										style="width: 800px;"
										class="custom-select"
										name="selectShopCode"
										id="selectShopCode"
									><th:block th:each="shop : ${salaryShop}">
										<option 
											th:text="${shop.memberId} +' : '+ ${shop.shopName}"
											th:value="${shop.contractShopCode}"
											th:selected="${shop.contractShopCode eq param?.selectShopCode?.toString()}"
											id="shopValue"
										></option>
									</th:block>
									</select>
									</span>
								</form>
							</div>
						</div>
					</div>
				</th:block>

				<!-- 급여 지출 현황 -->
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-util">
							<form action="/spendSalary" method="get" id="selectYearForm" name="selectYearForm">
								<span style="display: inline-block; float: left"> 
									<strong class="tm-block-title">급여 지출 현황 </strong>
								</span> 
								<span style="display: inline-block; float: right"> 
									<select
										style="width: 80px;" 
										class="custom-select" 
										name="salaryYear"
										id="salaryYear"
										><option value="2019" id="2019">2019</option>
										 <option value="2018" id="2018">2018</option>
										 <option value="2017" id="2017">2017</option>
									</select>
								</span>
							</form>

							<!-- charts.js -->
							<canvas id="salaryChart" height="100px;"></canvas>
						</div>
					</div>
				</div>
				
				<form action="/salaryInsert" method="post" id="salaryInsertForm">
				<div class="row tm-content-row">
					<!-- 급여 계산 폼 -->
					<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-salary">
							<h4 class="tm-block-title">급여 등록</h4>
								<div class="form-group">
									<label>직원</label> 
									<select
										class="custom-select tm-select-accounts" 
										name="memberId"
									><th:block 
										th:each="employee : ${employeeSelect}"
										><option 
											th:text="${employee.memberName}"
											th:value="${employee.memberId}"
										></option>
									</th:block>
									<th:block th:if="${alert} neq null">
										<option th:text="${alert}"></option>
									</th:block>
									</select>
								</div>
								<div class="form-group num">
									<label>기본급여</label> 
									<input 
									class="form-control validate"
									name="spendSalaryPay" 
									id="spendSalaryPay"
									>
								</div>
								<div class="form-group">
									<label>시간외수당</label> 
									<input 
									class="form-control validate"
									name="spendSalaryOverpay" 
									id="spendSalaryOverpay"
									>
								</div>
								<div class="form-group">
									<label>상여금</label> 
									<input 
									class="form-control validate"
									name="spendSalaryBonus" 
									id="spendSalaryBonus"
									>
								</div>
								<div class="form-group">
									<label>비과세액</label> 
									<input 
									class="form-control validate"
									name="spendSalaryFree" 
									id="spendSalaryFree"
									>
								</div>
								<hr>
								<button type="button"
									class="btn btn-primary btn-block text-uppercase"
									id="calculateSalary">계산</button>
						</div>
					</div>

					<!-- 급여 계산 내역 -->
					<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-salary">
							<h4 class="tm-block-title">계산</h4>
							<div class="form-group">
								<label>4대보험 총액</label> 
								<input 
								class="form-control validate"
								name="spendSalaryInsurance" 
								id="spendSalaryInsurance"
								style="background-color: #54657D" readonly
								>
							</div>
							<div class="form-group">
								<label>근로자 부담액</label> 
								<input 
								class="form-control validate"
								name="spendSalaryEmployee" 
								id="spendSalaryEmployee"
								style="background-color: #54657D" readonly
								>
							</div>
							<div class="form-group">
								<label>사업자 부담액</label> 
								<input 
								class="form-control validate"
								name="spendSalaryShop" 
								id="spendSalaryShop"
								style="background-color: #54657D" readonly
								>
							</div>
							<div class="form-group">
								<label>실수령액</label> 
								<input 
								class="form-control validate"
								name="spendSalaryNetpay" 
								id="spendSalaryNetpay"
								style="background-color: #54657D" readonly
								>
							</div>
							<div class="form-group">
								<label>급여 지출 총액</label> 
								<input 
								class="form-control validate"
								name="spendSalaryTotal" 
								id="spendSalaryTotal"
								style="background-color: #54657D" readonly
								>
							</div>
							<hr>
							<button type="button"
								class="btn btn-primary btn-block text-uppercase"
								id="insertSalary">등록</button>
						</div>
					</div>
					</div>
					</form>
					
					
					<!-- 최근 등록된 급여 내역 -->
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-spend ">
							<h4 class="tm-block-title">최근 등록내역</h4>
							<table class="table">
								<thead>
									<tr>
										<th>직원명</th>
										<th>금액</th>
										<th>등록일자</th>
										<th style="width: 20%">상세보기</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					
					<!-- 급여 지출 검색 -->
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block">

							<!-- begin 검색 폼 -->
							<form action="/spendSalaryList" class="tm-search-form row"
								method="post">
								<input type="hidden" name="selectShopCode" th:value="${param?.selectShopCode?.toString()}">
								<div class="form-group col-3">
									<select class="custom-select" name="searchDate">
										<option value="spend_utility_date">등록일자</option>
									</select>
								</div>
								<div class="form-group col-3">
									<input id="beginDate" name="beginDate" type="text"
										class="form-control validate"
										style="background-color: #54657D" readonly />
								</div>
								<div class="form-group col-1 text-center">
									<h2 class="tm-site-title mb-0">~</h2>
								</div>
								<div class="form-group col-3">
									<input id="endDate" name="endDate" type="text"
										class="form-control validate"
										style="background-color: #54657D" readonly />
								</div>
								<div class="form-group col-2"></div>

								<div class="form-group col-3">
									<select class="custom-select" name="salaryKey">
										<option value="member_id">직원명</option>
									</select>
								</div>

								<div class="form-group col-7">
									<input id="subjectValue" name="utilityValue" type="text"
										class="form-control validate" />
								</div>
								<div class="form-group col-2">
									<button type="submit" id="searchButton" name="searchButton"
										class="btn btn-primary btn-block">검색</button>
								</div>
							</form>
							<!-- end 검색 폼 -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript">
	
	<!-- 연도 선택 화면전환 -->
	$('#salaryYear').change(function() {
		$('#selectYearForm').submit();
	})
	
	<!-- 연도 선택 화면 전환 후 select box 고정 -->
	var selectedYear = [[${selectedYear}]];
	
	if(selectedYear == 2018){
		$('#2018').attr('selected','selected');
	} else if(selectedYear == 2017){
		$('#2017').attr('selected','selected');
	} else{
		$('#2019').attr('selected','selected');
	}
	
	<!-- 계약된 매장 선택 -->
	$('#selectShopCode').change(function() {
		$('#selectShopForm').submit();
	})

	<!-- 급여 계산 -->
	$('#calculateSalary').click(function() {
		if($('#spendSalaryPay').val()==0){
			$('#spendSalaryPay').attr('value','0');
		} 
		if($('#spendSalaryOverpay').val()==0){
			$('#spendSalaryOverpay').attr('value','0');
		}
		if($('#spendSalaryBonus').val()==0){
			$('#spendSalaryBonus').attr('value','0');
		}
		if($('#spendSalaryFree').val()==0){
			$('#spendSalaryFree').attr('value','0');
		}
		
		var salaryPay = Number($('#spendSalaryPay').val());
		var salaryOverpay = Number($('#spendSalaryOverpay').val());
		var salaryBonus = Number($('#spendSalaryBonus').val());
		var salaryFree = Number($('#spendSalaryFree').val())
		
		// 계산
		var salaryTotal = salaryPay + salaryOverpay + salaryBonus;
		var pension = salaryTotal * 0.09;
		var health = salaryTotal * 0.0646;
		var treatment = health * 0.0851;
		var hiredEmployee = salaryTotal * 0.0065;
		var hiredShop = salaryTotal * 0.009;
		var workTax = salaryTotal
		
		var salaryInsurance = Math.ceil(pension + health + treatment + hiredEmployee + hiredShop); // 4대 보험 총액
		var salaryEmployee = Math.ceil((pension * 0.5) + (health * 0.5) + (treatment * 0.5) + hiredEmployee); // 근로자 부담 금액
		var salaryShop = Math.ceil((pension * 0.5) + (health * 0.5) + (treatment * 0.5) + hiredShop); // 사업자 부담 금액
		var salaryNetpay = Math.ceil(salaryTotal - salaryEmployee + salaryFree) // 실수령액
		var salarySpendTotal = Math.ceil(salaryShop + salaryTotal + salaryFree);
		
		$('#spendSalaryInsurance').val(salaryInsurance);
		$('#spendSalaryEmployee').val(salaryEmployee);
		$('#spendSalaryShop').val(salaryShop);
		$('#spendSalaryNetpay').val(salaryNetpay);
		$('#spendSalaryTotal').val(salarySpendTotal);
		
	});
	
	<!-- 급여등록 -->
	$('#insertSalary').click(function() {
		if($('#spendSalaryInsurance').val()==0){
			alert('계산먼저');
		} else{
			$('#salaryInsertForm').submit();
		}
		
	})
	

	$(function() {
		var ctx = document.getElementById('salaryChart').getContext('2d');
		var utilityChart = new Chart(ctx, {
			
		    // The type of chart we want to create
		    type: 'bar',
		
		    // The data for our dataset
		    data: {
		        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월','8월','9월','10월','11월','12월'],
		        datasets: [{
		            label: '공과금/기타 총지출 금액',
		            backgroundColor: 'rgb(245, 166, 35)',
		            borderColor: 'rgb(245, 166, 35)',
		            data: [0,0,0,0,0,0,0,0,0,0,0,0]
		        }]
		    },
		
		    // Configuration options
		    options: {
		    	legend: {
		             labels: {
		                  fontColor: 'white' // label color
		                 }
		              },
			    scales: {
			    	// y축
			        yAxes: [{
			            ticks: {
			                fontColor:'white' // y축 폰트 color
			            }
			     	}],
			     	// x축
			     	xAxes: [{
			            ticks: {
			            	
			                fontColor:'white' // x축 폰트 color
			            }
			     	}]
			    }
		    }
		});
	})
	
</script>
</th:block>
</html>
