<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">

	<!-- MAIN -->
	<div class="height-sub">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>지출/매출 > 지출 > 공과금 > 상세보기</b>
						</p>
					</div>
				</div>

				<div class="row tm-content-row">

					<!-- 공과금 내역 상세보기-->
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-details">
							<h4 class="tm-block-title">등록내역 상세보기</h4>
							
							<!-- 등록내역 상세보기 수정 폼-->
							<form action="/spendUtilityUpdate" method="post">
								<div class="tm-bg-primary-dark">
									<table class="table" th:each="list : ${detailsList}">
										<tr>
											<td class="text-center" style="width: 15%"><label for="name">내역</label></td>
											<td><input type="text" class="form-control validate" th:value="${list.subjectName}"></td>
										</tr>
										<tr>
											<td class="text-center" style="width: 15%">금액</td>
											<td><input type="text" class="form-control validate" th:value="${list.spendUtilityPay}"> </td>
										</tr>
										<tr>
											<td class="text-center" style="width: 15%">등록날짜</td>
											<td><input type="text" class="form-control validate" th:value="${list.spendUtilityDate}"> </td>
										</tr>
										<tr>
											<td class="text-center" style="width: 15%">내용</td>
											<td><textarea rows="5" cols="6" class="form-control validate" th:text="${list.spendUtilityContents}"></textarea> </td>
										</tr>
									</table>
								</div>
								<hr>
								<span>
								<!-- 이전화면으로 이동 버튼 -->
								<button type="button" 
										class="btn-sub btn-primary text-uppercase" 
										style="float:left" 
										onclick="location.href='spendUtilityList'">
										이전
								</button>
								<!-- 수정 확인 버튼 -->
								<button type="submit" 
										class="btn-sub btn-primary text-uppercase" 
										style="float:right">
										확인
								</button>
							</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customScript">

	<script th:inline="javascript">

</script>
</th:block>
</html>

