<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.account.mapper.AccountMapper">

	<!-- 거래처 resultMap -->
	<resultMap type="com.smart.rider.account.dto.AccountDTO" id="accountMap">
		<result column="account_code" 			property="accountCode"/>
		<result column="contract_shop_code" 	property="contractShopCode"/>
		<result column="account_market" 		property="accountMarket"/>
		<result column="account_name" 			property="accountName"/>
		<result column="account_phone" 			property="accountPhone"/>
		<result column="account_address" 		property="accountAddress"/>
		<result column="account_category" 		property="accountCategory"/>
		<result column="account_date" 			property="accountDate"/>
	</resultMap>
	<!-- 거래처 목록 -->
	<select id="accountList" resultMap="accountMap">
		
		SELECT 
			 account_code 
			,contract_shop_code 
			,account_market
			,account_name
			,account_phone
			,account_address
			,account_category
			,account_date
		FROM account
		
	</select>
	<!-- 거래처코드 자동증가 -->
	<select id="accountMaxCode" resultType="String">
		SELECT 
				MAX(LPAD(RIGHT(account_code, 4)+1, '4' , '0')) 
			FROM account;
	
	</select>
	<!--매입거래처 생성  -->
	<insert id="accountInsert" parameterType="com.smart.rider.account.dto.AccountDTO">
		INSERT INTO account
		(
		  account_code
		 ,contract_shop_code
		 ,account_market, account_name
		 ,account_phone, account_address
		 ,account_category
		 ,account_date)
	VALUES (
		  #{accountCode}
		 ,#{contractShopCode}
		 ,#{accountMarket}
		 ,#{accountName}
		 ,#{accountPhone}
		 ,#{accountAddress}
		 ,#{accountCategory}
		 , NOW())
	
	</insert>
	<!--세션 아이디를 이용해서 계약매장코드 가져오기  -->
	<select id="getShopRelationCode" parameterType="String" resultType="com.smart.rider.shop.dto.SsrHapDTO">
		SELECT DISTINCT
			sr.contract_shop_code AS contractShopCode 
			,s.shop_name AS shopName
		
		FROM shop_relation sr, shop s
		WHERE sr.shop_code =s.shop_code AND sr.member_id =#{SID}
	
	</select>
	<!-- 검색시 조회 결과-->
	<select id="accountSearchList" parameterType="String" resultMap="accountMap">
		SELECT
			account_code 
			,contract_shop_code 
			,account_market
			,account_name
			,account_phone
			,account_address
			,account_category
			,account_date
		FROM account
		<if test="select neq null and select neq ''.toString()">
            where
                account_category LIKE CONCAT('%',#{select},'%')
        </if>
        <if test="searchName neq null and searchName neq ''.toString()">
            where
                account_market LIKE CONCAT('%',#{searchName},'%')
        </if>
        <if test="beginDate neq ''.toString() and endDate eq ''.toString()">
        	AND 
        		account_date between #{beginDate} and NOW()		
        </if>
        <if test="beginDate eq ''.toString() and endDate neq ''.toString()">
        	AND 
        		account_date between '1990-01-01' and #{endDate}
        </if>
        <if test="beginDate neq ''.toString() and endDate neq ''.toString()">
        	AND 
        		account_date between #{beginDate} and #{endDate}
        </if>
	</select>
	
</mapper>