<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
		<div class="main-height">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="text-white mt-5 mb-5">
								스마트 모빌리티 판매/대여 업체를 전문으로한 ERP입니다
								<br>
								매장의 전반적인 관리를 문서화 하지 않고 데이터화 시켜 관리하게 쉽고 효과적인 매장 관리를 위해 매입, 매출, 재고, 직원 관리 등을 제공합니다
							</p>
							
							<p class="text-white mt-5 mb-5">
								<b th:if="${session.SLEVEL eq '관리자'}">관리자로 로그인중</b>
								<b th:if="${session.SLEVEL eq '점주'}">점주로 로그인중</b>
								<b th:if="${session.SLEVEL eq '직원'}">직원으로 로그인중</b>
							</p>
							
						</div>
						
					</div>
								
					<th:block th:if="${session.SLEVEL eq '점주'}">
					<!-- 순수익 차트 -->
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-util">
									<span style="display: inline-block; float: left"> 
										<strong class="tm-block-title">보고서 </strong>
									</span> 
									<span style="display: inline-block; float: right"> 
										<select
											style="width: 100px;" 
											class="custom-select" 
											name="netYear"
											id="netYear"
											><option value="2019" id="2019">2019</option>
										</select>
									</span>
	
								<!-- charts.js -->
								
									<canvas id="netChart" height="100px;"></canvas>
								
							</div>
						</div>
					</div>
					</th:block>
					
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-jjw">
								<strong class="tm-block-title"> 정재욱 </strong>
								<hr>
								<table>
									<tr>
										<td width="180px;" class="text-center">
											<img src="resources/img/id.jpg" width="125px;" height="160px;">
										</td>
										<td class="text-white">
											<b> - 1994년 3월 25일 생 (남, 26세)</b>
											<br>
											<b> - 전북대학교 사범대학 부설고등학교 졸업 </b> (2010.03 ~ 2013.02)
											<br>
											<b> - 전북대학교 전자공학부 졸업 </b> (2013.03 ~ 2019.08)
											<br>
											<b> - 교육 : </b> 스마트웹 개발자 양성과정 (한국스마트 정보 교육원, 2019.05 ~ 2019.11)
											<br>
											<b> - 자격증 : </b> 정보처리기사 (발표 11월 예정)
											<br>
											<b> - 개인블로그 : </b><a href="https://codenbike.tistory.com">codenbike.tistory.com</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					
					
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-jjw-team">
								<strong class="tm-block-title"> 실무형 팀 프로젝트 </strong>
								<hr>
								<table class="text-white">
									<tr>
										<td class="text-center" width="180px;">
											<b> 프로젝트명  </b>
										</td>
										<td>
											전동킥보드, 전기자전거 등 스마트 모빌리티 판매 및 대여 업체를 대상으로한 전자적 자원 관리 시스템(ERP)
										</td>
									</tr>
									<tr>
										<td class="text-center">
											<b> 기간  </b>
										</td>
										<td>
											2019.08.12 ~ 2019.10.23 (총 72일) 
										</td>
									</tr>
									<tr>
										<td class="text-center">
											<b> 역할  </b>
										</td>
										<td>
											팀장
										</td>
									</tr>
									<tr>
										<td class="text-center">
											<b> 담당 업무  </b>
										</td>
										<td>
											버전관리 및 배포, 공통, 로그인, 계정과목 관리, 지출 관리 및 현황
										</td>
									</tr>
								</table>
								
								<hr>
								
								<table class="text-white">
									<tr th:if="${session.SLEVEL eq '관리자' or session.SLEVEL eq null}">
										<td width="180px;" class="text-center">
											<a href="/spendShopList" class="btn btn-primary" style="width: 150px;"> 지출관리 </a>
										</td>
										<td>
											관리자로 로그인시 각 매장의 지출을 관리할 수 있습니다.
										</td>
									</tr>
									<tr th:if="${session.SLEVEL eq '점주' or session.SLEVEL eq null}">
										<td width="180px;" class="text-center">
											<a href="/spendTotal" class="btn btn-primary" style="width: 150px;"> 지출현황 </a>
										</td>
										<td>
											점주로 로그인 시 매장의 총 지출 현황을 보여줍니다.
										</td>
									</tr>
									<tr th:if="${session.SLEVEL eq '점주' or session.SLEVEL eq null}">
										<td width="180px;" class="text-center">
											<a href="/spendSalary" class="btn btn-primary" style="width: 150px;"> 급여관리 </a>
										</td>
										<td>
											매장 직원의 급여 지출 현황과 내역 등록, 수정, 검색을 할 수 있습니다.
										</td>
									</tr>
									<tr th:if="${session.SLEVEL eq '점주' or session.SLEVEL eq null}">
										<td width="180px;" class="text-center">
											<a href="/spendUtility" class="btn btn-primary" style="width: 150px;"> 공과금/기타 </a>
										</td>
										<td>
											매장의 공과금 및 기타 지출 현황과 내역 등록, 수정, 삭제, 검색을 할 수 있습니다.
										</td>
									</tr>
									<tr th:if="${session.SLEVEL eq '관리자' or session.SLEVEL eq null}">
										<td width="180px;" class="text-center">
											<a href="/subjectList" class="btn btn-primary" style="width: 150px;"> 계정과목관리 </a>
										</td>
										<td>
											관리자로 로그인시 계정과목 등록, 수정, 삭제, 검색을 할 수 있습니다.
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					
					<div class="row tm-content-row"> 
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-jjw-sys">
								<strong class="tm-block-title"> 프로젝트 시스템 흐름도 </strong>
								<hr>
								<table>
									<tr>
										<td>
											<img src="resources/img/system.png" width="100%">
										</td>
									</tr>
								</table>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

</th:block>
</th:block>
<th:block layout:fragment="customScript">

<script th:inline="javascript">
	
	var level = [[${session.SLEVEL}]]
	
	if(level == '점주'){
		$(function() {
			var ctx = document.getElementById('netChart').getContext('2d');
			var netChart = new Chart(ctx, {
				
			    // The type of chart we want to create
			    type: 'bar',
			
			    // The data for our dataset
			    data: {
			        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월','8월','9월','10월','11월','12월'],
			        datasets: [{
						label: '순수익',
						type : 'bar',
						backgroundColor: 'rgb(255, 204, 102)',
			            borderColor: 'rgb(255, 204, 102)',
						data: [
							 [[${netPay0}]], [[${netPay1}]], [[${netPay2}]], [[${netPay3}]], [[${netPay4}]]
							,[[${netPay5}]], [[${netPay6}]], [[${netPay7}]], [[${netPay8}]], [[${netPay9}]]
							,[[${netPay10}]], [[${netPay11}]]
						]
					}, {
						label: '지출',
						type : 'line',
						fill : false,
						lineTension : 0.2,
						pointRadius : 0,
						backgroundColor: 'rgb(255, 153, 0)',
			            borderColor: 'rgb(255, 153, 0)',
						data: [
							 [[${spend0}]], [[${spend1}]], [[${spend2}]], [[${spend3}]], [[${spend4}]]
							,[[${spend5}]], [[${spend6}]], [[${spend7}]], [[${spend8}]], [[${spend9}]]
							,[[${spend10}]], [[${spend11}]]
						]
					}, {
						label: '매출',
						type : 'line',
						fill : false,
						lineTension : 0.2,
						pointRadius : 0,
						backgroundColor: 'rgb(255, 204, 0)',
			            borderColor: 'rgb(255, 204, 0)',
						data: [
							 [[${sales0}]], [[${sales1}]], [[${sales2}]], [[${sales3}]], [[${sales4}]]
							,[[${sales5}]], [[${sales6}]], [[${sales7}]], [[${sales8}]], [[${sales9}]]
							,[[${sales10}]], [[${sales11}]]
						]
					}]
			    },
			
			    // Configuration options
			    options: {
			    	legend: {
			             labels: {
			                  fontColor: 'white' // label color
			                 }
			              },
				    scales: {
				    	// y축
				        yAxes: [{
				        	stacked: true,
				            ticks: {
				                fontColor:'white' // y축 폰트 color
				            }
				     	}],
				     	// x축
				     	xAxes: [{
				     		stacked: true,
				            ticks: {
				                fontColor:'white' // x축 폰트 color
				            }
				     	}]
				    }
			    }
			});
		})
	}
	
</script>

</th:block>
</html>