<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
		<div class="main-height">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="text-white mt-5 mb-5">
								스마트 모빌리티 판매/대여 업체를 전문으로한 ERP입니다
								<br>
								매장의 전반적인 관리를 문서화 하지 않고 데이터화 시켜 관리하게 쉽고 효과적인 매장 관리를 위해 매입, 매출, 재고, 직원 관리 등을 제공합니다
							</p>
							
							<p class="text-white mt-5 mb-5">
								<b th:if="${session.SLEVEL eq '관리자'}">관리자로 로그인중</b>
								<b th:if="${session.SLEVEL eq '점주'}">점주로 로그인중</b>
								<b th:if="${session.SLEVEL eq '직원'}">직원으로 로그인중</b>
							</p>
							
						</div>
						
					</div>
								
					<th:block th:if="${session.SLEVEL eq '점주'}">
					<!-- 순수익 차트 -->
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-util">
									<span style="display: inline-block; float: left"> 
										<strong class="tm-block-title">보고서 </strong>
									</span> 
									<span style="display: inline-block; float: right"> 
										<select
											style="width: 100px;" 
											class="custom-select" 
											name="netYear"
											id="netYear"
											><option value="2019" id="2019">2019</option>
										</select>
									</span>
	
								<!-- charts.js -->
								
									<canvas id="netChart" height="100px;"></canvas>
								
							</div>
						</div>
					</div>
					</th:block>
					
					<div class="row tm-content-row">
						<div class="col-12 tm-block-col">
							<div class="tm-bg-primary-dark tm-block-jjw">
								<strong class="tm-block-title"> 정재욱 </strong>
								
								<p class="text-white mt-5 mb-5">
									<b> 공통 </b>
									<br>
									<b> 로그인 - 로그인 화면, 로그인 인터셉터, 로그인 프로세스, 로그아웃 프로세스 </b>
									<br>
									<b> 계정과목관리 - 관리자 권한으로 로그인시 계정과목 등록, 수정, 삭제, 조회가 가능합니다 </b>
									<br>
									<b> 지출관리 - 관리자 권한으로 로그인시 각 매장의 지출을 관리할 수 있습니다 </b>
									<br>
									<b> 지출/매출 - 점주 권한으로 로그인시 자신의 매장의 지출과 매출 현황을 알 수 있으며 
										지출(급여, 공과금/기타) 등록, 수정, 삭제, 조회가 가능합니다</b>
									<br>
									<b> 지출과 관련된 항목들은 그래프로 현황를 보여줍니다</b>
								</p>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>

</th:block>
</th:block>
<th:block layout:fragment="customScript">

<script th:inline="javascript">

	$(function() {
		var ctx = document.getElementById('netChart').getContext('2d');
		var netChart = new Chart(ctx, {
			
		    // The type of chart we want to create
		    type: 'bar',
		
		    // The data for our dataset
		    data: {
		        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월','8월','9월','10월','11월','12월'],
		        datasets: [{
					label: '순수익',
					type : 'bar',
					backgroundColor: 'rgb(255, 204, 102)',
		            borderColor: 'rgb(255, 204, 102)',
					data: [
						 [[${netPay0}]], [[${netPay1}]], [[${netPay2}]], [[${netPay3}]], [[${netPay4}]]
						,[[${netPay5}]], [[${netPay6}]], [[${netPay7}]], [[${netPay8}]], [[${netPay9}]]
						,[[${netPay10}]], [[${netPay11}]]
					]
				}, {
					label: '지출',
					type : 'line',
					fill : false,
					lineTension : 0.2,
					pointRadius : 0,
					backgroundColor: 'rgb(255, 153, 0)',
		            borderColor: 'rgb(255, 153, 0)',
					data: [
						 [[${spend0}]], [[${spend1}]], [[${spend2}]], [[${spend3}]], [[${spend4}]]
						,[[${spend5}]], [[${spend6}]], [[${spend7}]], [[${spend8}]], [[${spend9}]]
						,[[${spend10}]], [[${spend11}]]
					]
				}, {
					label: '매출',
					type : 'line',
					fill : false,
					lineTension : 0.2,
					pointRadius : 0,
					backgroundColor: 'rgb(255, 204, 0)',
		            borderColor: 'rgb(255, 204, 0)',
					data: [
						 [[${sales0}]], [[${sales1}]], [[${sales2}]], [[${sales3}]], [[${sales4}]]
						,[[${sales5}]], [[${sales6}]], [[${sales7}]], [[${sales8}]], [[${sales9}]]
						,[[${sales10}]], [[${sales11}]]
					]
				}]
		    },
		
		    // Configuration options
		    options: {
		    	legend: {
		             labels: {
		                  fontColor: 'white' // label color
		                 }
		              },
			    scales: {
			    	// y축
			        yAxes: [{
			        	stacked: true,
			            ticks: {
			                fontColor:'white' // y축 폰트 color
			            }
			     	}],
			     	// x축
			     	xAxes: [{
			     		stacked: true,
			            ticks: {
			                fontColor:'white' // x축 폰트 color
			            }
			     	}]
			    }
		    }
		});
	})
</script>

</th:block>
</html>