<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
	<div class="main">
		<div class="container tm-mt-big tm-mb-big">
			<div class="row">
				<div class="col-12 mx-auto tm-login-col">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<div class="row">
							<div class="col-12 text-center">
								<h2 class="tm-block-title mb-4">Welcome to SMART RIDER</h2>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-12">
								<form action="/loginProcess" method="post" class="tm-login-form">
									<div class="form-group">
										<label for="username">ID</label> <input name="memberId"
											type="text" class="form-control validate" id="memberId" 
											placeholder="ID를 입력하세요" required />
									</div>
									<div class="form-group mt-3">
										<label for="password">Password</label> <input name="memberPw"
											type="password" class="form-control validate" id="memberPw" 
											placeholder="Password를 입력하세요" required />
									</div>
									<div class="form-group mt-4">
										<button type="submit"
											class="btn btn-primary btn-block text-uppercase">
											Login</button>
									</div>
								</form>
								<hr>
								<a href="#" class="mt-4 btn btn-primary btn-block text-uppercase">회원가입</a>
								<a href="#" class="mt-4 btn btn-primary btn-block text-uppercase">아이디/비밀번호 찾기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MAIN -->
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>




