<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
 <body>
  <div class="main-height">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>계약관리 >계약금 관리 </b>
						</p>
					</div>
				</div>


				<!-- row -->
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-scroll tm-block-sc">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">계약자 아이디</th>
										<th scope="col">납입방식</th>
										<th scope="col">계약금액</th>
										<th scope="col">납부금액</th>
										<th scope="col">미납금액</th>
										<th scope="col">계약상태</th>
										<th scope="col">사유</th>
										<th scope="col" style="width: 8%" class="text-center">수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each=" mList : ${managementList}">
										<td th:text="${mList.memberId}"></td>
										<td th:text="${mList.contractMethod}"></td>
										<td th:text="${mList.contractPay}"></td>
										<td th:text="${mList.contractManagementAmout}"></td>
										<td th:text="${mList.contractManagementUnpaid}"></td>
										<td th:text="${mList.contractManagementState}"></td>
										<td th:text="${mList.contractManagementContents}"></td>
										<td class="text-center"><a
											href="#"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"
												style="color: white"></i>
										</a></td>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<button type="button" id="insertBtn"
					onclick="location.href='managementInsert'" style="float: right"
					class="btn btn-primary text-uppercase">계약금 등록</button>
				</div>
			
		</div>
	</div>
</body>
</th:block>
</th:block>
<th:block layout:fragment="customScript">

	
</th:block>
</html>