<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 인터페이스와 일치해야 연결된다 -->
<mapper namespace="com.smart.rider.contract.mapper.ManagementMapper">

	<select id="agreementList"	resultType="com.smart.rider.contract.dto.ManagementDTO">
		SELECT DISTINCT
		contract.
			 member_id AS memberId
			,contract_start AS contractStart
			,contract_finish AS contractFinish
			,contract_valid_date AS contractValidDate
		,member.
			 member_id 			AS memberId
			,member_name		AS memberName
			,member_phone 		AS memberPhone
			
		from contract inner join member
		on contract.member_id =member.member_id;
	</select>
	
		<select id="managementCodeMax" resultType="String">
			SELECT 
				MAX(LPAD(RIGHT(contract_management_code, 4)+1, '4' , '0')) 
			FROM contract_management;
		</select>
	
	<insert id="managementInsert" parameterType="com.smart.rider.contract.dto.ManagementDTO">
		
		INSERT INTO contract_management
			( contract_management_code
			 ,contract_code
			 ,contract_management_amout
			 ,contract_management_unpaid
			 ,contract_management_state
			 ,contract_management_contents
			 ,contract_management_date)
		VALUES ( 				
			  #{contractManagementCode}
			 ,#{contractCode}
		 	 ,#{contractManagementAmout}
		 	 ,#{contractManagementUnpaid}
	 	  	 ,#{contractManagementState}
	 	  	 ,#{contractManagementContents}
	 	     ,NOW()
	 	    )

		 	    
	</insert>



</mapper>