<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
 <body>
   
 
        <div class="container main-height">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5"><b>계약서 관리 >홈</b></p>
                    	<div class="tm-block-col">
							<div class="tm-bg-primary-dark tm-block-big">
								<img src="./resources/img/contra.jpg" width="950">
									<br/><br/>
									<span>
									
									<input type="button" class="btn btn-primary" style="float: left; WIDTH: 150pt;" onclick="location.href='joinUs.jsp' " value="조회버튼"/>
									
									
									<input type="button" class="btn btn-primary" style="float: right; margin-right: 100px; WIDTH: 150pt;" onclick="location.href='contractInsert' " value="등록버튼"/>
									</span>
							</div>
						</div>
                    
                    
                </div>
            </div>
		</div>
</body>
</th:block>
</th:block>
<th:block layout:fragment="customScript">

	
</th:block>
</html>