<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
	<div class="main height-sub">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>관리자 > 계정과목관리</b>
						</p>
					</div>
				</div>

				<h2 class="tm-block-title">계정과목관리</h2>
				<hr>
				
				<!-- row -->
							<div class="row tm-content-row">
				<div class="col-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto-copy">
						<form action="/subjectList" class="tm-search-form row" method="post">
							<div class="form-group col-3">
								<select class="custom-select" name="subjectKey">
									<option value="subject_number">계정과목코드</option>
									<option value="subject_name">계정과목명</option>
								</select>
							</div>
							<div class="form-group col-7">
								<input id="subjectValue" name="subjectValue" type="text" class="form-control validate" />
							</div>
							<div class="form-group col-2">
								<button type="submit" id="searchButton" name="searchButton" class="btn btn-primary btn-block">
									검색
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
				
				
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-scroll tm-block-sub">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">no</th>
										<th scope="col">계정과목코드</th>
										<th scope="col">계정과목명</th>
										<th scope="col">등록자ID</th>
										<th scope="col">등록일자</th>
										<th scope="col" style="width: 8%" class="text-center">수정</th>
										<th scope="col" style="width: 8%" class="text-center">삭제</th>
									</tr>
								</thead>
								<tbody>
									<!-- 삭제 불가능한 계정과목 리스트 -->
									<tr th:each="Impossible : ${deleteImpossible}">
										<td th:text="${Impossible.subjectCode}"></td>
										<td th:text="${Impossible.subjectNumber}"></td>
										<td th:text="${Impossible.subjectName}"></td>
										<td th:text="${Impossible.memberId}"></td>
										<td th:text="${Impossible.subjectDate}"></td>
										<td class="text-center"><a
											th:href="@{/subjectUpdate(subjectCode=${Impossible.subjectCode})}"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"
												style="color: white"></i>
										</a></td>
										<td class="text-center">
											<a class="tm-product-delete-link" id="impossibleButton">
												<i class="far fa-trash-alt tm-product-delete-icon" style="color: black"></i>
											</a>
										</td>
									</tr>

									<!-- 삭제 가능한 계정과목 리스트 -->
									<tr th:each="possible : ${deletePossible}">
										<td th:text="${possible.subjectCode}"></td>
										<td th:text="${possible.subjectNumber}"></td>
										<td th:text="${possible.subjectName}"></td>
										<td th:text="${possible.memberId}"></td>
										<td th:text="${possible.subjectDate}"></td>
										<td class="text-center"><a
											th:href="@{/subjectUpdate(subjectCode=${possible.subjectCode})}"
											class="tm-product-delete-link"> <i
												class="fas fa-check tm-product-check-icon"
												style="color: white"></i>
										</a></td>
										<td class="text-center"><a
											th:href="@{/subjectDelete(subjectCode=${possible.subjectCode})}"
											class="tm-product-delete-link possibleButton"> <i
												class="far fa-trash-alt tm-product-delete-icon"
												style="color: white;"></i>
										</a></td>
									</tr>
									<th:block th:if="${alert} neq null">
										<tr class="text-center">
											<td colspan="7" th:text="${alert}"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<hr>
				<button type="button"
					onclick="location.href='subjectList'" style="float: left"
					class="btn btn-primary text-uppercase">전체목록으로</button>
				
				<button type="button"
					onclick="location.href='subjectInsert'" style="float: right"
					class="btn btn-primary text-uppercase">계정과목등록</button>
			</div>
		</div>
	</div>
</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>