<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.smart.rider.subject.mapper.SubjectMapper">

<resultMap type="com.smart.rider.subject.dto.SubjectDTO" id="subjectMap">
	<result column="subject_code" 	property="subjectCode"/>
	<result column="member_id" 		property="memberId"/>
	<result column="subject_number" property="subjectNumber"/>
	<result column="subject_name" 	property="subjectName"/>
	<result column="subject_date" 	property="subjectDate"/>
</resultMap>

	<select id="subjectList" resultMap="subjectMap">
		SELECT 
			 subject_code
			,member_id
			,subject_number
			,subject_name
			,subject_date
		FROM subject
	</select>
	
	<!-- 계정과목코드 자동증가 -->
	<select id="subjectCodeCount" resultType="String">
		SELECT 
			MAX(LPAD(RIGHT(subject_code, 3)+1, '3' , '0')) 
		FROM subject;
	</select>
	
	<!-- 계정과목 등록 -->
	<insert id="subjectInsert" parameterType="com.smart.rider.subject.dto.SubjectDTO">
		INSERT INTO subject(
			 subject_code
			,member_id
			,subject_number
			,subject_name
			,subject_date)
		VALUES (#{subjectCode}, #{memberId}, #{subjectNumber}, #{subjectName}, NOW())
	</insert>	
</mapper>